
* {
    touch-action: manipulation;
}

body {
    background-image: url("ave-calvar-NqXqLPhdbvU-unsplash.jpg");
    background-size: cover;
    font-family: 'Tektur';
    text-align: center;
    height: 100vh;
    disable-dbl-tap-zoom {
        touch-action: manipulation;
      }
}



h1 {
    margin-top: 10px;
    font-family: "Tektur"; 
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    disable-dbl-tap-zoom {
    touch-action: manipulation;
      }
}

#increment-btn {
    background: #808015;
    disable-dbl-tap-zoom {
        touch-action: manipulation;
      }
}

#save-btn {
    background: #99A637;
    disable-dbl-tap-zoom {
        touch-action: manipulation;
      }
}

#save-el {
    font-weight: bold;
}

.container {
    background: #D4D26A;
    opacity: 80%;
    max-width: 60%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    disable-dbl-tap-zoom {
    touch-action: manipulation;
      }
}









@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

